# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Кеши и временные файлы
.cache/
*.log

# Видео и большие медиа
*.webm
*.png
*.zip

# Данные и результаты
*.csv
/test_data/
/data/
/output/

# Ключи и сертификаты
*.pem

# Docker
docker/
Dockerfile

# Прочее
.env
.vscode/
.idea/
